libraries/*

# backup and migrrate files
bam/*

modules/*
!modules/custom

themes/*
!themes/custom
#nice menus module CSS enable from admin/appearance/settings
!themes/css

# OS specific shit
.DS_Store
Thumbs.db

# add sql files and other types that are obsolete, Github has selected list, look for the Drupal one.