libraries

# backup and migrrate files
bam/*

modules/*
!modules/custom

themes/*
!themes/custom
#nice menus module CSS enable from admin/appearance/settings
!themes/css

# OS specific shit
.DS_Store
Thumbs.db