/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  margin :0;
  padding :0;
  list-style :none;
}

ul.nice-menu li {
  float :left;
  border :1px solid #ccc;
  border-top :0;
  background-color :pink;
}

ul.nice-menu a {
  padding :0.3em 5px 0.3em 5px;
  color :white;
  background-color :black;
}

ul.nice-menu a:hover {
  color :black;
  background-color :white;
}

ul.nice-menu ul {
  top :1.8em;
  left :-1px;
  margin-right :0;
  border :0;
  border-top :1px solid #ccc;
}

ul.nice-menu ul li {
  width :12.5em;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */

ul.nice-menu-right,
ul.nice-menu-left,
ul.nice-menu-right li,
ul.nice-menu-left li {
  width :12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */

ul.nice-menu-right ul {
  top :-1px;
  left :12.5em;
  width :12.5em;
}

ul.nice-menu-right ul ul {
  top :-1px;
  left :12.5em;
  width :12.5em;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background :#eee url("../custom/ktheme/images/arrow-right.png") right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background :#cc0000 url("../custom/ktheme/images/arrow-right.png") right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */

ul.nice-menu-left li ul {
  top :-1px;
  left :-12.65em;
  width :12.5em;
}

ul.nice-menu-left li ul li ul {
  top :-1px;
  left :-12.65em;
  width :12.5em;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background :#eee url("../custom/ktheme/images/arrow-left.png") left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background :#ccc url("../custom/ktheme/images/arrow-left.png") left center no-repeat;
}

ul.nice-menu-left a,
ul.nice-menu-left ul a {
  padding-left :14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float :left;
  border :0;
}

ul.nice-menu-down li {
  border-top :1px solid #ccc;
}

ul.nice-menu-down li li {
  border-top :0;
}

ul.nice-menu-down ul {
  left :0;
}

ul.nice-menu-down ul li {
  clear :both;
}

ul.nice-menu-down li ul li ul {
  top :-1px;
  left :12.5em;
}

ul.nice-menu-down .menuparent a {
  padding-right :15px;
}

ul.nice-menu-down li.menuparent {
  background :#eee url("../custom/ktheme/images/arrow-down.png") right center no-repeat;
}

ul.nice-menu-down li.menuparent:hover {
  background :#ccc url("../custom/ktheme/images/arrow-down.png") right center no-repeat;
}

ul.nice-menu-down li li.menuparent {
  background :#eee url("../custom/ktheme/images/arrow-right.png") right center no-repeat;
}

ul.nice-menu-down li li.menuparent:hover {
  background :#ccc url("../custom/ktheme/images/arrow-right.png") right center no-repeat;
}

/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */

ul.nice-menu li {
  margin :0;
  padding-left :0;
  background-image :none;
}

#header-region ul.nice-menu li {
  margin :0;
  padding-top :0.1em;
  padding-bottom :0.1em;
  background :#eee;
}

#header-region ul.nice-menu ul {
  top :1.8em;
  left :-1px;
  margin-right :0;
  border :0;
  border-top :1px solid #ccc;
}

#header-region ul.nice-menu ul {
  top :1.7em;
}

/**
 * HORIZONTAL (down) menus
 */

#header-region ul.nice-menu-down li ul li ul {
  top :-1px;
  left :12.5em;
}

#header-region ul.nice-menu-down li.menuparent {
  background :#eee url("../custom/ktheme/images/arrow-down.png") right center no-repeat;
}

#header-region ul.nice-menu-down li.menuparent:hover {
  background :#ccc url("../custom/ktheme/images/arrow-down.png") right center no-repeat;
}

#header-region ul.nice-menu-down li li.menuparent {
  background :#eee url("../custom/ktheme/images/arrow-right.png") right center no-repeat;
}

#header-region ul.nice-menu-down li li.menuparent:hover {
  background :#ccc url("../custom/ktheme/images/arrow-right.png") right center no-repeat;
}

/*controls the secondary menus*/

.region-content-top .nice-menu {
  background-color :gray;
}

.region.region-content-top {
  position :relative;
  top :220px;
}

/*Themer Developer admin button*/

#themer-toggle {
  width :1em;
  height :3em;
  overflow :hidden;
  text-overflow :ellipsis;
}

/*Admin page customize bottom bar*/

div#panels-ipe-control-container {
  z-index :9999;
}